{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "airbnb", "prettier"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true
            }
        ],
        "consistent-return": "off",
        "no-multi-assign": "off",
        "no-param-reassign": "off",
        "global-require": "warn",
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/prefer-stateless-function": "off",
        "react/no-unescaped-entities": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/destructuring-assignment": "off",
        "import/prefer-default-export": "off"
    },
    "plugins": ["react", "babel", "prettier"]
}
